

body{
	background: black url("http://1.bp.blogspot.com/-ooPPC8ujFtE/Tc1zHZXPhhI/AAAAAAAABfo/n-6cG277uzU/s1600/Harrison_Ford_Wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}